
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Road Rage", serif;;
    }
html, body{
        width: 100vw;
        height: 100vh;
    
    }
.logo{
        width: 40px;
        height: 40px;
    }
.botao1{
    background-color: #B8DDD3;
    border-radius: 20px;
    justify-content: center;
    box-shadow: black 1px 1px 1px;
    margin: 10px;
    
}
.txt{
    text-align: center;
    font-size: 3em;    
}

.cato{
    width: 100px;  
    position: sticky;
    left:300px;
    display: inline-block;
    
}
.bigcato{
    width: 100px;  
    position: sticky;
    right: 300px;      
    
}
.consti{
    width: 100px;
}
footer{
    background-color: #B8DDD3;
    text-align: center;
}